@import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --white: #D9ECF2;
    --pink: #FFC897;
    --yellow: #F7EFA2;
    --dark-yellow: #B48250;
    --green: #BAC99A;
    --turqoise: #75C9A3;
    --black: #42393B;
}


body, html, p{
    margin: 0;
    padding: 0;
}

p, h2, div{
    color: var(--dark-yellow);
    font-family: "Afacad Flux", sans-serif; 
}

h2{
    font-family: "Philosopher", sans-serif;
}